@font-face {
  font-family: 'Oswald Regular';
  src: url('./fonts/Oswald-Regular.ttf');
}
@font-face {
  font-family: 'Oswald Light';
  src: url('./fonts/Oswald-Light.ttf');
}

body {
  background-color: #222;
  font-size: 1rem;
  font-family: 'Oswald Light';
  color: #FFF;
}

h1 {
  font-weight: 200;
}